h1{
    font-size: 60px;
}

/*h3{font-size: 100px;
}*/

.familiatexto{font-family:"papiro" ;
font-size: 15px;    
    font-size: 2em;
    color:#0A0808;
    text-align: justify;
}
.bodyprincipal{
    background-color:blueviolet;
}
.fondoheaderprincipal{
    background-color: rgb(9, 36, 20);
}
.fondohederpagina1{
    background-color: cyan;
}
.imagenfondo{
    background-image:url(img/medellin.jpg) ;
    height: 600px;
    background-attachment: fixed;

}
.textorojo{
    background-color: red;
}
table,td{
    border: 2px solid;
    border-collapse: collapse;
}
tr:hover{
    background-color: darkblue;
}
